<div class='container'>
  <form id='restaurantForm' class='mt-3' action='/restaurants' method='POST'>
    <div class='mb-3'>
      <label class='form-label' for='name'>餐廳名稱 : </label>
      <input
        class='form-control'
        type='text'
        name='name'
        id='name'
        placeholder='請輸入餐廳名稱 ...'
        required
      />
      <div class='valid-feedback'></div>
      <div class='invalid-feedback'>
        這是必填欄位
      </div>
    </div>

    <div class='mb-3'>
      <label class='form-label' for='name_en'>英文名稱 : </label>
      <input
        class='form-control'
        type='text'
        name='name_en'
        id='name_en'
        placeholder='English name ...'
      />
    </div>

    <div class='mb-3'>
      <label class='form-label' for='category'>餐廳類別 : </label>
      <select
        name='category'
        id='category'
        class='form-select'
        aria-label='Default select example'
      >
        <option selected>請選擇類別</option>
        <option value='中東料理'>中東料理</option>
        <option value='日本料理'>日本料理</option>
        <option value='義式餐廳'>義式餐廳</option>
        <option value='美式'>美式</option>
        <option value='酒吧'>酒吧</option>
        <option value='咖啡'>咖啡</option>
      </select></div>

    <div class='mb-3'>
      <label class='form-label' for='location'>地址 : </label>
      <input
        class='form-control'
        type='text'
        name='location'
        id='location'
        placeholder='請輸入餐廳地址 ...'
        required
      />
      <div class='valid-feedback'></div>
      <div class='invalid-feedback'>
        這是必填欄位
      </div>
    </div>

    <div class='mb-3'>
      <label class='form-label' for='phone'>電話 : </label>
      <input
        class='form-control'
        type='text'
        name='phone'
        id='phone'
        placeholder='請輸入電話 ...'
        required
      />
      <div class='valid-feedback'></div>
      <div class='invalid-feedback'>
        這是必填欄位
      </div>
    </div>

    <div class='mb-3'>
      <label class='form-label' for='rating'>評分 : </label>
      <input
        class='form-control'
        type='number'
        name='rating'
        id='rating'
        min='1'
        max='5'
        step='0.1'
        placeholder='1到5 ...'
      />
    </div>

    <div class='mb-3'>
      <label class='form-label' for='description'>資訊 : </label>
      <textarea
        class='form-control'
        id='description'
        name='description'
        rows='3'
        cols='20'
      ></textarea>
    </div>

    <div class='mb-3'>
      <label class='form-label' for='image'>照片 : </label>
      <input
        class='form-control'
        type='text'
        name='image'
        id='image'
        placeholder='https://...'
      />
    </div>

    <div class='mb-3'>
      <label class='form-label' for='google_map'>Google Map : </label>
      <input
        class='form-control'
        type='text'
        name='google_map'
        id='google_map'
        placeholder='https://...'
      />
    </div>

    <button id='saveButton' class='btn btn-primary' type='submit'>存檔</button>
    <a class='btn btn-info ms-2' href='/' role='button'>返回</a>
  </form>

</div>